@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

/* Fundo estilo "papel de parede" do WhatsApp */
.wa-wallpaper {
  background-color: #efeae2;
  background-image: radial-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  background-size: 16px 16px;
}
